//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

$shadow-depth: 6px;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: sans-serif;

	font-size: 25px;
	font-weight: 700;
	color: #555;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
body {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.main-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: #ecf0f3;
	@include flexcenter();

	.main-container {
		height: 500px;
		width: 400px;
		background-color: #ecf0f3;
		box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
		border-radius: 45px;

		.display-wrapper {
			height: 25%;
			width: 100%;

			padding: 20px;

			.display {
				height: 100%;
				width: 100%;
				background-color: #ecf0f3;
				box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
				border-radius: 30px;
				resize: none;

				outline: none;
				border: none;

				padding: 30px;

				font-size: 20px;
				text-align: right;

				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}

		.numpad {
			height: 75%;
			width: 100%;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			padding-bottom: 20px;

			.btn,
			#equate,
			#all-clear {
				height: 70px;
				width: 70px;
				background-color: #ecf0f3;
				box-shadow: $shadow-depth $shadow-depth 9px #cbced1, -6px -6px 9px #fff;
				border-radius: 200px;

				margin: 0 10px;

				text-align: center;
				line-height: 70px;
				transition-duration: 200ms;

				&:hover {
					cursor: pointer;
				}

				&:active {
					box-shadow: none;
				}
			}
		}
	}
}
