//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: sans-serif;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
.main-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: lightcoral;
	@include flexcenter();

	.main-container {
		height: 490px;
		width: 400px;
		background-color: lightgreen;

		.display-wrapper {
			height: 25%;
			width: 100%;
			background-color: lightpink;

			padding: 20px;

			.display {
				height: 100%;
				width: 100%;
				background-color: lightskyblue;
				resize: none;

				outline: none;
				border: none;

				padding: 30px;

				font-size: 20px;
				text-align: right;
			}
		}

		.numpad {
			height: 75%;
			width: 100%;
			background-color: lightseagreen;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			padding: 20px 0;

			.btn,
			#equate,
			#all-clear {
				height: 60px;
				width: 70px;
				background-color: lightgreen;

				margin: 0 10px;

				font-size: 20px;
				font-weight: 700;
				text-align: center;
				line-height: 60px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
