//COLORS
$bright-red: #ff5851;
$yellow: #fdef52;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: monospace;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin box {
}

.box {
	padding: 10px 15px;

	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;

	outline: none;
	border: none;
	border-radius: 10px;

	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: saturate(180%) blur(20px);

	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
}

.flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	//background-color: lightblue;
	//flex-wrap: wrap;

	div {
		width: 200px;
		width: fit-content;
		//background-color: lightgreen;
	}
}

//MAIN CSS
.landing-page {
	height: 100vh;
	width: 100%;
	padding: 0 40px;
	background: url('../images/bck.jpg');
	background-size: cover;
	@include flexcenter();
	justify-content: space-between;

	.input-wrapper,
	.list-wrapper {
		overflow: hidden;
		width: 48%;
		height: 90%;
		border-radius: 40px;

		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: saturate(180%) blur(10px);
	}

	.input-wrapper {
		//background-color: lightcoral;
		padding: 40px 40px 20px 40px;

		form {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.list-input {
				width: 100%;

				label {
					//padding-bottom: 30px;
					color: #fff;
					font-weight: 700;
					display: block;
					//font-size: 1.3rem;
					//background-color: lightblue;
				}

				.input-title {
					width: fit-content;
					margin: 0 0 7px 7px;
					font-size: 1.2rem;
					word-wrap: none;
				}

				input {
					width: 100%;
				}

				.region {
					div {
						height: 20px;
						display: flex;
						align-items: center;

						input {
							width: min-content;
							margin-right: 7px;
						}
					}
				}

				#moons {
					width: 150px;
				}

				#inhabitants {
					width: 90%;

					option {
						color: #000;
					}
				}

				textarea {
					height: 100px;
					width: 100%;
					resize: none;

					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */

					&::-webkit-scrollbar {
						display: none;
					}
				}

				button {
					height: 50px;
					width: 150px;
				}
			}

			.distance {
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				.slider-contiainer {
					width: 100%;
					height: 100%;
					padding-right: 25px;
					//background-color: lightblue;

					display: flex;
					align-items: center;
					justify-content: space-between;

					.slider-value {
						color: #fff;
						font-weight: 700;
						font-size: 1.1rem;
					}
				}

				//Slider Styles
				$slider-width: 75%;
				$slider-thickness: 10px;
				$slider-background-color: #d3d3d3;

				//Thumb Styles
				$thumb-color: rgba(255, 255, 255, 0.3);
				$thumb-height: 20px;
				$thumb-width: 20px;

				.slider {
					-webkit-appearance: none;
					width: $slider-width;
					height: $slider-thickness;
					//background: $slider-background-color;
					outline: none;
					-webkit-transition: 0.2s;
					transition: opacity 0.2s;

					background: rgba(0, 0, 0, 0.1);
					backdrop-filter: saturate(180%) blur(20px);
				}

				.slider::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: $thumb-width;
					height: $thumb-height;
					background: $thumb-color;
					cursor: pointer;
				}

				.slider::-moz-range-thumb {
					width: $thumb-width;
					height: $thumb-height;
					background: $thumb-color;
					cursor: pointer;
				}
			}

			.num-moons {
				//background-color: lightcoral;
				width: fit-content;
			}
		}
	}

	.list-wrapper {
		padding: 40px;
	}
}

.github-link {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;

	p {
		a,
		a:visited {
			color: blue;
		}
	}
}

.mobile {
	display: none;

	.mobile-container {
		width: 100%;
		height: 100vh;
		padding: 0 20px;
		@include flexcenter();

		p {
			font-family: monospace !important;
			font-size: 2rem;
			text-align: center;
		}
	}
}

@media screen and (max-width: 900px) {
	main {
		display: none;
	}

	.mobile {
		display: unset;
	}
}
