//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: monospace;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
main {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: #eeeeee;
	@include flexcenter();

	.left {
		height: 100%;
		width: 50%;
		//background-color: lightblue;
		form {
			height: 100%;
			@include flexcenter();
			flex-direction: column;
			gap: 40px;

			img {
				border-radius: 20px;
				max-height: 60%;
				box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

				transition-duration: 500ms;

				&:hover {
					transform: scale(1.05, 1.05);
				}
			}

			input {
				width: 500px;
				height: 50px;
				padding: 0 15px;

				font-size: 1.2rem;
				letter-spacing: 2px;
				color: rgba(0, 0, 0, 0.6);

				border: none;
				border-radius: 10px;
				outline: none;

				//box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
			}

			button {
				height: 40px;
				width: 100px;
				background-color: #000;

				color: #fff;
				line-height: 40px;
				font-size: 1.2rem;

				outline: none;
				border: none;
				border-radius: 10px;

				box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);

				transition-duration: 200ms;

				&:hover {
					cursor: pointer;
				}

				&:active {
					transform: translateY(5px);
					box-shadow: none;
				}
			}
		}
	}

	.right {
		height: 100%;
		width: 50%;
		background-color: lightgreen;
		@include flexcenter();
		flex-direction: column;
		gap: 30px;

		input {
			width: 300px;
		}
	}
}
