//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: sans-serif;
}

.flex {
	display: flex;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
.main-page {
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
	@include flexcenter();
}

.main-container {
	flex-direction: column;
	justify-content: space-between !important;

	.box {
		background-color: rgba(54, 54, 54, 0.274);
		text-align: center;
		border-radius: 15px;
		box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
	}

	.slider-container {
		padding: 30px;

		.label-container {
			flex-direction: column;
			margin-right: 20px;
			span {
				display: inline;
				font-size: 20px;
				font-weight: 700;

				&:nth-child(2) {
					margin: 3.5px 0;
				}
			}
		}

		.slider-wrapper {
			.slider {
				-webkit-appearance: none;
				width: 100%;
				height: 6px;
				border-radius: 0;
				background: #fff;
				outline: none;
				-webkit-transition: 0.2s;
				transition: opacity 0.2s;

				&:nth-child(2) {
					margin: 18px 0 14px 0;
				}
			}

			.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 25px;
				height: 25px;
				border-radius: 0;
				border: 4px solid black;
				cursor: pointer;
			}

			#slider-red::-webkit-slider-thumb {
				border-color: #ff115a;
			}

			#slider-green::-webkit-slider-thumb {
				border-color: #00ff7e;
			}

			#slider-blue::-webkit-slider-thumb {
				//border-color: #0063ff;
				border-color: #15aeff;
			}

			.slider::-moz-range-thumb {
				width: 25px;
				height: 20px;
				border-radius: 0;
				border: 3px solid black;
				cursor: pointer;
			}
		}
	}

	.info {
		margin-top: 40px;
		padding: 10px;
		margin-bottom: 20px;
		@include flexcenter();

		div {
			padding: 10px;
			//border-radius: 100px;
			text-align: center;
			width: 200px;
			font-weight: 700;
		}
	}

	.display {
		.color-display {
			height: 100px;
			transition-duration: 300ms;
			line-height: 100px;

			font-size: 30px;
			font-weight: 700;
			letter-spacing: 3px;

			&:hover {
				cursor: pointer;
			}

			&:active {
				transform: scale(0.8, 0.8);
			}

			&:first-child {
				margin-bottom: 40px;
			}
		}
	}
}
