//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: sans-serif;
}

.flex {
	display: flex;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
.main-page {
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
	@include flexcenter();
}

.main-container {
	flex-direction: column;
	justify-content: space-between !important;
}

.slider-container {
	background-color: lightseagreen;
	padding: 30px;
}

.slider {
	width: 100%;
}

.label-container {
	flex-direction: column;
	margin-right: 20px;
	span {
		display: inline;
	}
}

.display {
	//background-color: lightsalmon;
}

.box {
	background-color: rgba(54, 54, 54, 0.274);
	text-align: center;
	border-radius: 15px;
}

.color-display {
	height: 100px;
	transition-duration: 300ms;
	line-height: 100px;

	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;

	&:hover {
		cursor: pointer;
	}

	&:active {
		transform: scale(0.8, 0.8);
	}

	&:first-child {
		margin: 40px 0;
	}
}
