//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: sans-serif;
}

a {
	text-decoration: none;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
.main-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: lightcoral;
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.top-bar {
		//background-color: $blue;
		display: flex;
		margin-bottom: 30px;

		.box {
			background-color: rgba(0, 0, 0, 0.3);
			display: flex;
			padding: 15px 5px;
			margin: 0 10px;
			border-radius: 25px;

			.info {
				background-color: lightgreen;
				padding: 19px 20px;
				margin: 0 10px;
				border-radius: 15px;
			}

			button {
				border: none;
				outline: none;
				border-radius: 15px;
				padding: 19px 20px;
				margin: 0 10px;
				font-size: 15px;
				font-weight: 700;
				transition-duration: 400ms;

				&:hover {
					cursor: pointer;
					transform: scale(1.1, 1.1);
				}
			}
		}
	}

	textarea {
		height: 75%;
		width: 1000px;
		outline: none;
		border: none;
		border-radius: 20px;
		padding: 30px;
		font-size: 17px;
		font-family: monospace;
		font-weight: 700;
	}
}

#word-limit-overlay {
	position: absolute;
	z-index: 2;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	//display: flex;
	justify-content: center;
	align-items: center;

	#warning-container {
		height: 500px;
		width: 650px;
		background-color: $silver;
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		#text {
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;

			#warning {
				margin-bottom: 20px;
				color: $bright-red;
				font-size: 80px;
				font-weight: 700;
			}

			#message {
				font-size: 30px;
			}
		}

		#meh {
			margin-right: 30px;
		}

		button {
			outline: none;
			border: none;
			padding: 20px;
			border-radius: 7px;
			font-size: 15px;
			font-weight: 700;

			&:hover {
				cursor: pointer;
				background-color: $bright-red;
				color: #fff;
			}
		}
	}
}

#set-word-limit {
	position: absolute;
	z-index: 4;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	//display: flex;
	justify-content: center;
	align-items: center;

	#warning-container {
		height: 500px;
		width: 650px;
		background-color: $silver;
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		#text {
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;

			#warning {
				margin-bottom: 20px;
				color: $bright-red;
				font-size: 70px;
				font-weight: 700;
			}

			#message {
				font-size: 30px;
			}
		}

		input {
			outline: none;
			border: none;
			height: 55px;
			width: 200px;
			background-color: rgb(235, 235, 235);
			border-radius: 10px;
			margin-bottom: 30px;
			padding: 0 20px;
			font-size: 17px;
			font-weight: 700;
			font-family: monospace;
		}

		button {
			outline: none;
			border: none;
			padding: 20px;
			border-radius: 7px;
			font-size: 15px;
			font-weight: 700;
			background-color: rgb(235, 235, 235);

			&:hover {
				cursor: pointer;
				background-color: $bright-red;
				color: #fff;
			}
		}
	}
}

#char-limit-overlay {
	position: absolute;
	z-index: 2;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	//display: flex;
	justify-content: center;
	align-items: center;

	#warning-container {
		height: 500px;
		width: 650px;
		background-color: $silver;
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		#text {
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;

			#warning {
				margin-bottom: 20px;
				color: $bright-red;
				font-size: 80px;
				font-weight: 700;
			}

			#message {
				font-size: 30px;
			}
		}

		#meh {
			margin-right: 30px;
		}

		button {
			outline: none;
			border: none;
			padding: 20px;
			border-radius: 7px;
			font-size: 15px;
			font-weight: 700;

			&:hover {
				cursor: pointer;
				background-color: $bright-red;
				color: #fff;
			}
		}
	}
}

#set-char-limit {
	position: absolute;
	z-index: 4;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	//display: flex;
	justify-content: center;
	align-items: center;

	#warning-container {
		height: 500px;
		width: 650px;
		background-color: $silver;
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		#text {
			display: flex;
			flex-direction: column;
			margin-bottom: 50px;

			#warning {
				margin-bottom: 20px;
				color: $bright-red;
				font-size: 70px;
				font-weight: 700;
			}

			#message {
				font-size: 30px;
			}
		}

		input {
			outline: none;
			border: none;
			height: 55px;
			width: 200px;
			background-color: rgb(235, 235, 235);
			border-radius: 10px;
			margin-bottom: 30px;
			padding: 0 20px;
			font-size: 17px;
			font-weight: 700;
			font-family: monospace;
		}

		button {
			outline: none;
			border: none;
			padding: 20px;
			border-radius: 7px;
			font-size: 15px;
			font-weight: 700;
			background-color: rgb(235, 235, 235);

			&:hover {
				cursor: pointer;
				background-color: $bright-red;
				color: #fff;
			}
		}
	}
}
